<div class="empty-state">
  <p class="empty-state__text">
    You don't have any question yet!
  </p>
  <%= link_to "Ask a Question!", new_room_question_path, class: "", data: { turbo_frame: dom_id(Question.new) } %>
</div>
