<div class="bg-slate-100 rounded-xl px-2 pt-2 pb-4">
  <div class="pb-2 font-light text-slate-700 text-sm">
    You don't have any question yet!
  </div>
  <div>
    <%= link_to "Ask a Question!", new_room_question_path, class: "px-3 py-2 rounded bg-green-500 text-white", data: { turbo_frame: dom_id(Question.new) } %>
  </div>
</div>
