<!-- app/components/article_component.html.erb -->
<div class="border-b border-gray-200 dark:border-gray-700">
  <h3><%= article.title %></h3>
  <p><%= article.summary %></p>
  <%= link_to 'Read more', article.url, target: '_blank' %>
</div>
