<% @searched_users.each do |user| %>
  <li class="w-full text-left block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" role="option" data-autocomplete-value="<%= user.id %>" data-autocomplete-label="<%= user.profile.nickname %>">
    <%= user.profile.nickname %>
    <span class="text-sm font-light block"><%= user.email %></span>
  </li>
<% end %>
