<section class="w-full md:w-2/3 mx-auto h-full mb-12">
  <div class="mx-auto">
    <div class="text-center">
      <h1 class="inline-block mb-2 font-extrabold text-3xl tracking-tight text-slate-800 dark:text-white">Enter the Event PIN</h1>
    </div>
    <div class="mt-8" data-controller="validate-pin">
      <%= form_with url: pin_path, method: :post do |form| %>
        <div class="mb-6">
          <%= form.text_field :pin, placeholder: "Enter the event PIN (6 digits)", data: {"validate-pin-target": "pin", action: "keyup->validate-pin#change"}, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-base md:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          <span class="text-sm text-red-500 hidden", data-validate-pin-target="pinError">PIN is 6 digits</span>
        </div>
        <%= form.submit 'Join!', class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      <% end %>
    </div>
  </div>
</section>
<% if user_signed_in? %>
  <section class="w-full md:w-2/3 mx-auto">
    <div class="flex flex-wrap justify-evenly items-center max-w-screen-lg mx-auto">
      <div class="p-2">
        <%= link_to events_path do %>
          <div class="hover:bg-gray-200 dark:hover:bg-gray-50 bg-gray-300 dark:bg-gray-700 text-gray-600 dark:text-gray-400 rounded-lg flex flex-col items-center justify-center h-40 w-40">
            <svg class="w-12 h-12 mb-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z"></path>
            </svg>
            <div class="uppercase font-extrabold">Create an Event</div>
          </div>
        <% end %>
      </div>
      <div class="p-2">
        <div class="hover:bg-gray-200 dark:hover:bg-gray-50 bg-gray-300 dark:bg-gray-700 text-gray-600 dark:text-gray-400 rounded-lg flex flex-col items-center justify-center h-40 w-40">
          <svg class="w-12 h-12 mb-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"></path>
          </svg>
          <div class="uppercase font-extrabold">Create a Poll</div>
        </div>
      </div>
      <div class="p-2">
        <div class="hover:bg-gray-200 dark:hover:bg-gray-50 bg-gray-300 dark:bg-gray-700 text-gray-600 dark:text-gray-400 rounded-lg flex flex-col items-center justify-center h-40 w-40">
          <svg class="w-12 h-12 mb-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 010 3.75H5.625a1.875 1.875 0 010-3.75z"></path>
          </svg>
          <div class="uppercase font-extrabold">Create a Survey</div>
        </div>
      </div>
      <div class="p-2">
        <div class="hover:bg-gray-200 dark:hover:bg-gray-50 bg-gray-300 dark:bg-gray-700 text-gray-600 dark:text-gray-400 rounded-lg flex flex-col items-center justify-center h-40 w-40">
          <svg class="w-12 h-12 mb-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"></path>
          </svg>
          <div class="uppercase font-extrabold">Dashboards</div>
        </div>
      </div>
    </section>
  <% end %>
