<div class="bg-slate-100 rounded-xl p-2">
  <div class="font-light text-slate-700 text-sm">
    No event created yet.<br>
    Click on "New Event" to create your first event and get started!
  </div>
</div>
