<!-- app/views/events/show.html.erb -->
<section class="text-center">
  <div class="mb-4">
    <h1 class="inline-block mb-2 font-extrabold text-3xl tracking-tight text-slate-800 dark:text-white">
      <%= @event.name %>
    </h1>
  </div>
</section>
<section class="mx-auto flex flex-row items-center justify-center space-x-1"
         data-qr-code-generator-short-code-value=<%= @event.short_code %>
         data-controller="qr-code-generator">
  <div class="w-3/5 border-2 border-gray-500 border-spacing-1 rounded-2xl">
    <div class="flex justify-center">
      <div data-qr-code-generator-target="canvas"></div>
    </div>
  </div>
  <% if current_user&.id == @event.user_id %>
    <div class="flex flex-col space-y-2">
      <button data-action="click->qr-code-generator#download">
        <div class=" rounded-full border border-gray-500 hover:bg-gray-50 p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
          </svg>
        </div>
      </button>
      <div data-controller="clipboard">
        <input type="hidden" value="<%= join_event_url(@event.short_code) %>" data-clipboard-target="source" readonly />
        <button data-action="clipboard#copy mouseenter->popper#show mouseleave->popper#hide">
          <div class=" rounded-full border border-gray-500 hover:bg-gray-50 p-2" data-clipboard-target="copy">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
            </svg>
          </div>
          <div class=" rounded-full border border-green-500 p-2 hidden" data-clipboard-target="copied">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500 dark:text-green-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
            </svg>
          </div>
        </button>
      </div>
    </div>
  <% end %>
</section>
