<section class="text-center">
  <div>
    <h1 class="text-2xl font-bold text-slate-800">
      <%= @event.name %>
    </h1>
  </div>
  <div>
    Go to <span class="text-xl font-black">https://ask.thepew.io</span> and enter the following code:<br>
    <span class="font-bold text-2xl">PIN: <%= @event.short_code %></span>
  </div>
  <div class="font-light text-lg italic">
    -- Or scan the following QR code --
  </div>
  <div class="mx-auto w-3/5 border-2 border-green-500 border-spacing-1 rounded-2xl">
    <%= image_tag @event.qr_code, class: 'mx-auto object-git w-full ' if @event.qr_code.present?  %>
  </div>
</section>
