<%# CCPA Notes %>
<%= render "legal/breadcrumb", current_page: "CCPA Notes" %>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  CCPA Notes
</h1>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  This privacy notice (“Privacy Notice”) for California Residents under the California Consumer Privacy Act of 2018 (“CCPA”) supplements the information contained in our <%= link_to "Privacy Policy", "/legal/privacy", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %> and applies solely to all visitors, users, and others who reside in the State of California (“Consumers” or “you”), as defined under the CCPA. Any terms defined in the CCPA have the same meaning when used in this Privacy Notice. Further, this Privacy Notice is an integral part of our Privacy Policy and thus, definitions used herein but not defined herein shall have the meaning ascribed to them in our Privacy Policy.
</p>
