<%# CCPA Notes %>
<%= render "legal/breadcrumb", current_page: "CCPA Notes" %>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  CCPA Notes
</h1>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  This privacy notice (“Privacy Notice”) for California Residents under the California Consumer Privacy Act of 2018 (“CCPA”) supplements the information contained in our <%= link_to "Privacy Policy", "/legal/privacy", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %> and applies solely to all visitors, users, and others who reside in the State of California (“Consumers” or “you”), as defined under the CCPA. Any terms defined in the CCPA have the same meaning when used in this Privacy Notice. Further, this Privacy Notice is an integral part of our Privacy Policy and thus, definitions used herein but not defined herein shall have the meaning ascribed to them in our Privacy Policy.
</p>
<h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Personal Information Collected
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  Under the CCPA, “Personal Information” is defined as any information that identifies, relates to, describes, references, is capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer, household or device. The categories of Personal Information that we collect (and has collected within the last 12 months), are detailed in the table below.
  Please note that, under the CCPA Personal Information does not include: publicly available information from government records and deidentified or aggregated consumer information, information excluded from the CCPA’s scope (e.g., health or medical information covered by applicable laws such as the Health Insurance Portability and Accountability Act of 1996 (HIPAA)); and information covered by certain sector-specific privacy laws (e.g., the California Financial Information Privacy Act (FIPA)).
</p>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Type
        </th>
        <th scope="col" class="px-6 py-3">
          Examples
        </th>
        <th scope="col" class="px-6 py-3">
          Collected
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <td class="px-6 py-4">
          Identifier
        </td>
        <td class="px-6 py-4">
          An alias, unique personal identifier, online identifier, Internet Protocol address, email address, account name or other similar identifiers.
        </td>
        <td class="px-6 py-4">
          Yes
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <td class="px-6 py-4">
          Commercial information
        </td>
        <td class="px-6 py-4">
          Records of personal products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.
        </td>
        <td class="px-6 py-4">
          Yes
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <td class="px-6 py-4">
          Internet or other similar network activity
        </td>
        <td class="px-6 py-4">
          Browsing history, search history, information on a consumer’s interaction with a website, application, or advertisement.
        </td>
        <td class="px-6 py-4">
          Yes
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <td class="px-6 py-4">
          Geolocation data
        </td>
        <td class="px-6 py-4">
          Physical location or movements
        </td>
        <td class="px-6 py-4">
          Partial (via IP address)
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  How Data is Collected
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  Depending on the nature of your interaction with us, we may collect the above detailed information from you, as follows: (i) directly from you, for example, if you contact us or becoming a Customer; (ii) indirectly from you, for example, from observing your actions on our Website; (iii) from third-party business partners such as analytics providers.
</p>
<h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Personal Information Usage
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  We may use, or disclose the Personal Information we collect for one or more of the following business purposes:
</p>
<ul class="mb-3 list-disc md:ml-6">
  <li class="font-light text-gray-500 dark:text-gray-400">
    To fulfill or meet the reason you provided the information. For example, if you contact us with an inquiry and share your name and contact information, we will use that Personal Information to respond to your inquiry.
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    To provide, support, personalize, and develop our Website and Services, as well as improve our Services.
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    For security and fraud detection purposes, and to maintain the safety, security, and integrity of our Services
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    For testing, research, analysis, and product development, including to develop and improve our Services.
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    To respond to law enforcement requests and as required by applicable law, court order, or governmental regulations.
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    As described to you when collecting your Personal Information or as otherwise set forth in the CCPA.
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    To evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding.
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    To provide the services to our Customers.
  </li>
</ul>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  We will not collect additional categories of Personal Information or use the Personal Information we collected for materially different, unrelated, or incompatible purposes without providing you notice.
</p>
<h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Data Sharing
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  We may disclose your Personal Information to a third party for a business purpose. When we disclose Personal Information for a business purpose, we enter a contract that describes the purpose and requires the recipient to both keep that Personal Information confidential and not use it for any purpose except performing the contract.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  We share your Personal Information with the following categories of third parties:
  (i) Agents / Service providers – Such as our servers’ providers and marketing service.
  (ii) Data aggregators – For analytic purposes.
</p>
<h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Sales of Personal Information
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  In the preceding twelve (12) months, the Company has not sold Personal Information
</p>
<h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Do Not Track Disclosure
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  The Service does not respond to Do Not Track signals. For more information about Do Not Track signals, please see: <%= link_to "https://www.allaboutdnt.com/", "https://www.allaboutdnt.com/", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %>.
</p>
