<%# Cookie Policy %>
<%= render "legal/breadcrumb", current_page: "Cookie Policy" %>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Cookie Policy
</h1>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  We use cookies when you visit our Website to make it work properly, to provide the most relevant content to our Website visitors (“user” or “you”), as well as for the purpose of presenting advertisements. This Cookie Policy (“Cookie Policy”) is provided by us, ThePew Inc. (“Company”, “us” or “our”) and includes important and transparent disclosures regarding the cookies and other tracking technologies placed in our Website, as well as related data collection practices. This Cookie Policy will detail the type of cookies, our third-party partners placing such cookies, information regarding their privacy policies and data collection through the cookies, as well as your choices and controls. We encourage you to read this Cookie Policy carefully prior to accessing or using our Website and use it to make informed decisions. This Cookie Policy constitutes an integral part of our Privacy Policy and Terms and Conditions. Definitions herein shall have the same meaning as defined therein.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  If you have any questions about this Cookie Policy, please contact us at: support@thepew.io
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  This Cookie Policy may be updated from time to time and therefore we request you to check back periodically to read the most updated Cookie Policy. The last and updated version is reflected in the “Last Modified” heading above. In the event of a material change we will make best efforts to provide a notification through the Website or other methods, as and if required under applicable law.
</p>
<h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  What is a Cookie?
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  As further described in our <%= link_to "Privacy Policy", "/legal/privacy", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %>, a cookie is a text file that a website – when visited by a user – asks your browser to store on your device in order to remember information about you. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognizes that cookie, to develop a record of the user’s online activity. Some of the cookies may expire when the session ends and you exit your browser. Other cookies are saved on your computer’s hard drive.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  Cookies help us enhance your experience when you are visiting our Website. It helps understand how users use the Website and their preferences, such as which pages or content are most popular, so that we can better provide our Website content as well as for our third-party partners to better provide advertisements. The cookies may contain a variety of information, such as the Website pages you have accessed, advertisements you have interacted with, session durations and IP addresses.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  Note that, at any time you are able to change your cookies settings through your browser settings to control cookies placement by limiting use of cookies on your device, opt out or delete certain cookies already stored on your device – all as detailed under the “How to Control and Delete Cookies” provision below.
</p>
<h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Cookies used on our website
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  In general, there are several types of cookies and among others:
</p>
<ul class="mb-3 list-disc md:ml-6">
  <li class="font-light text-gray-500 dark:text-gray-400">
    Essential, Functionality, Operation & Security Cookies. These cookies are essential for enabling user browse the Website in a proper and efficient way, and for security purposes (i.e., used to authenticate users, prevent fraudulent use, and protect user data from unauthorized parties). This category of cookies either cannot be disabled, or if disabled, certain features of the Services may not work.
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    Analytic, Measurement & Performance Cookies. These cookies are used to collect information about how users browsing our Website, in order to improve our Services and the way we offer them, as well assess performance of the content and the way it is displayed in our Website. These cookies enable us, for example, to assess the number of users who have viewed a certain page as well as their country of origin.
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    Targeting & Advertising Cookies. These cookies are set through our Website by our advertising partners. They may be used by those companies to build a profile of your interests and show you relevant ads while browsing the internet. They work by uniquely identifying your browser and device. If you do not allow these cookies, you will not experience our targeted advertising across different websites.
  </li>
</ul>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  The specific third-party cookies we currently use, purpose of use, their privacy policy and opt-out controls are set forth in the table below:
</p>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Third Party
        </th>
        <th scope="col" class="px-6 py-3">
          Purpose
        </th>
        <th scope="col" class="px-6 py-3">
          Privacy Policy
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <td class="px-6 py-4">
            Google Analytics        
          </td>
          <td class="px-6 py-4">
            Analytic, Measurement and Performance
          </td>
          <td class="px-6 py-4">
            <a href="https://tools.google.com/dlpage/gaoptout" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">https://tools.google.com/dlpage/gaoptout</a>
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <td class="px-6 py-4">
            Honeybadger        
          </td>
          <td class="px-6 py-4">
            Essential, Functionality, Operation & Security Cookies
          </td>
          <td class="px-6 py-4">
            <a href="https://www.honeybadger.io/privacy/" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">https://www.honeybadger.io/privacy/</a>
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <td class="px-6 py-4">
            Hotjar        
          </td>
          <td class="px-6 py-4">
            Essential, Functionality, Operation & Security Cookies
          </td>
          <td class="px-6 py-4">
            <a href="https://www.hotjar.com/privacy/" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">https://www.hotjar.com/privacy/</a>
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <td class="px-6 py-4">
            Hubspot        
          </td>
          <td class="px-6 py-4">
            Targeting & Advertising
          </td>
          <td class="px-6 py-4">
            <a href="https://legal.hubspot.com/privacy-policy" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">https://legal.hubspot.com/privacy-policy</a>
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <td class="px-6 py-4">
            Wordpress        
          </td>
          <td class="px-6 py-4">
            Essential, Functionality, Operation & Security Cookies
          </td>
          <td class="px-6 py-4">
            <a href="https://www.hostinger.com/privacy-policy" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">https://www.hostinger.com/privacy-policy</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
    Third Party Cookies
  </h2>
  <p class="mb-3 font-light text-gray-500 dark:text-gray-400">
    When using our Website and the Website content, you may use Third Party Content or be directed to other third-party sites (as defined in our Terms and Conditions). These third parties may use their own cookies. We do not have control over the placement of cookies by other third-party sites you visit, even if you are directed to them from our Website
  </p>
