<%# Terms of Service %>
<%= render "legal/breadcrumb", current_page: "Terms of Service" %>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Terms of Service
</h1>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  1. INTRODUCTION AND DEFINITIONS
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  1.1 Thanks for choosing ThePew! These are our general terms and conditions pursuant to which ThePew (hereinafter also referred to as “we”, “us” or “our”) provides Customers, Users and Audience (hereinafter “you”) access to our Services. You who are a member of the Audience accept the Terms before you interact with ThePew, but since not all sections apply to you we have summarized what’s applicable in Section 21.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  1.2 By accepting the Terms when purchasing and/or subscribing for the Services you receive a non-exclusive, non-transferable, revocable and limited in time right to use the Free Version, Basic Version or Pro Version of the Application, hereinafter defined as a “License”. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  1.3 There are four different service levels of the Application; the Free Version, the Basic Version, the Pro Version, and the Enterprise Version. Relevant information about the different versions, as well as the contents, features and pricing, can be found here: <%= link_to "Plans", "https://thepew.io/pricing", class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %> (which may be updated from time to time).
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  1.4 Capitalized words used herein but not already defined above, shall have the following meaning:
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  "Account" means the account you create to access the Services, identifiable by unique email;<br>
  "Application" means the web-based interactive audience engagement platform developed and provided by ThePew in you which create an Event that the Audience engages with via computer or mobile devices;<br>
  "Audience" means the individual(s) who are using the app to interact with event Organizer(s);<br>
  "Basic Version" means the basic version of the Application as further described in Plans (which may be updated from time to time);<br>
  "Customer" means the individual or entity who purchases one or several Licenses to use a Paid Version (whether or not you are a User);<br>
  "Data Protection Laws" means Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (“GDPR”) and other thereto related applicable laws and regulations. Expressions used herein, e.g. ‘data subject’, ‘personal data’, ‘processing’, ‘controller’, ‘processors’, ‘personal data breach’ etc., shall be construed in accordance with the meaning given to them in the GDPR; <br>
  “Enterprise Version” means the enterprise version of the Application as further described in detail in Plans (which may be updated from time to time);<br>
  "Event" means the presentations, surveys, quizzes and/or other types of questions created by an Organizer in the use of our Application;<br>
  "Free User" means the individual or entity who has signed up for a License to the Free Version;<br>
  "Free Version" means the free version of the Application as further described in detail in Plans (which may be updated from time to time);<br>
  "Initiation Day" means the day when a Customer purchases a License to use any of the Paid Versions and thereby agrees to the Terms;<br>
  "License Period" has the meaning described in Section 3.2;<br>
  "ThePew" means ThePew Inc. (publ), a Deleware C Corp;<br>
  "Organizer" means anybody who is creating, publishing and managing Event(s)<br>
  "Paid Version" means the Pro, Basic or any other version of the Application that the Customer pays for (including the Enterprise Version);<br>
  "Pro Version" means the pro version of the Application as further described in detail in  Plans (which may be updated from time to time);<br>
  “Order Form” means ThePew’s ordering document specifying the Services to be provided hereunder that is entered into between a Customer and ThePew, including any addendum and supplements thereto;<br>
  "Services" means all services furnished by ThePew to you under the Terms, such as, but not limited to the Application,  the Websites and other applications/platforms used to access the Application;<br>
  "Team Member" means the individual(s) or entity(ies) who are part of a Team Workspace;<br>
  "Team Workspace" means the group that ThePew will automatically create when a Customer purchases more than one License (such as but not limited to a purchase of the Enterprise Version) which is further described in Section 6;<br>
  "Terms" means these general terms and conditions including the terms of any Order Form or other separate agreement that might have been entered into between ThePew and a User or Customer  regarding the Services provided hereunder, as applicable;<br>
  "Third Party Application" means the software for which the copyright and other intellectual property rights belongs to a third party such as, but not limited to, the third parties mentioned by us in the list below;<br>
</p>
<ul class="mb-3 list-disc md:ml-6">
  <li class="font-light text-gray-500 dark:text-gray-400">
    Ruby on Rails (aka Rails) by the Rails Foundation is licensed under the MIT license 
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    Ruby by Yukihiro “Matz” Matsumoto
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    PostgreSQL by The PostgreSQL Global Development Group is licensed under the PostgreSQL License
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    NodeJS by The Linux Foundation is licensed under the NodeJS license
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    TailwindCSS by Tailwind Labs is licensed under the MIT license
  </li>
  <li class="font-light text-gray-500 dark:text-gray-400">
    Redis by Redis
  </li>
</ul>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  "Third Party Integration" means any service or integration not provided by ThePew that a Customer elects to integrate or enable for use with the Services;<br>
  "User" means any person, such as a Customer, Free User or Team Member, who has signed up for an Account or in any other way use the Services, like for example Audience;<br>
  "User Data" means all data (e.g. documents, text and pictures) including personal data, submitted by you (and your Audience in their interaction within your Event) electronically in the use of the Application; and<br>
  "Websites" means thepew.io and thepew.io as well as any other sites related to thepew.io and app.thepew.io, including subsites or versions of them connected to help/support you to use the Application.<br>
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  2. YOUR UNDERTAKINGS 
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.1 It is your responsibility to provide ThePew with all the information that is necessary for us to be able to provide you with the Services and our other obligations set forth herein.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.2 ThePew is never liable for your Internet connection and the network that is being used to gain access to, and make use of, the Services. It is therefore also your responsibility to arrange for and fulfill the technical requirements needed to use our Services, such as to have the equipment and software required for the performance of the Application.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.3 You shall ensure that (i) any and all User Data as well as your software is free of viruses, trojans, worms or other harmful software codes, (ii) User Data as well as your software is in a format suitable for the Application and (iii) that your software and/or User Data cannot in any other way, harm or adversely affect ThePew's systems and/or Services.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.4 It is your responsibility to ensure that your log-in information, security procedures and other information, which is used to access and use the Application, is kept confidential and treated as confidential information. You agree to immediately inform ThePew if any unauthorized person has obtained knowledge of such information.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.5 You agree not to copy, decompile, decrypt or deconstruct the Services (or any software or code that is included in the Services) or try to derive or create source code from the Services and you also agree not to circumvent or try to circumvent the security measures of the Services set out by ThePew. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.6 You agree to follow the instructions provided from time to time by ThePew for use of the Services including, for the avoidance of doubt, not to permit any other person to use your License.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.7 To the extent the Terms do not state differently, you are responsible for back-ups of User Data.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.8 You are liable for the Event you create and responsible for all User Data and other data you submit to our Services.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.9 You agree not to use and to ensure that the Services is not used in an inappropriate or illegal manner; such as, but not limited to, posting pornographic, offensive, racist, harassing or otherwise unlawful or inappropriate material in an Event or the Application or by registering and/or using a username reflecting any of the above. ThePew reserves the right to, without warning, cancel your right to use our Services if you do this, which neither entitles you to refund for payment done nor compensation of any other kind. We also reserve the right to (i) investigate and take appropriate action against anyone who violates, or is suspected of violating, theTerms, including removing any content or reclaiming your username at any time, and/or reporting you to law enforcement authorities and (ii) disclose all kinds of data supplied to our Services, if we receive a request for information and this is required by mandatory applicable laws, governmental regulations or rules, or by any orders of court or competent authority or arbitral tribunal.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.10 You confirm that you have the full right, power and authority to create your Account and/or purchase Licenses from us and thereby enter into agreement with us that creates a legally valid and binding obligation on you that does not violate any applicable law, rule or regulation, or require any conditional consent by any person or entity. If you are accessing or using the Services in connection with your employment, you confirm that you are authorized to bind your company/employer to the Terms and any references herein to you will refer to both you and your company/employer, as applicable.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.11 ThePew is intended to be a business tool. If you are younger than 16 years old, you must be represented by your parents or guardians to agree to the Terms and to use the Services. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  2.12 We reserve the right to terminate your subscription of a License under the Terms and suspend you from the Services including your License(s) immediately or limit your access to the Services if you fail to comply with the Terms or if the provision of the Services might lead to more than a minor damage for ThePew or any third party.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  3. PRICES, PAYMENT AND REFUNDS
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  3.1 Current and applicable prices for the Licenses are found here: Pricing. All prices are exclusive of VAT, other taxes and potential tolls or import/export fees.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  3.2 Payment for the Paid Versions shall be made upfront on the Initiation Day for the entire license period which is twelve months if not otherwise agreed upon (the "License Period"). Exceptions may be made when payment is done through invoice and/or bank transfer, in which case payment is due within the number of days after the Initiation Day as specified in the invoice. The first day after the end of the License Period, the License will be automatically cancelled.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  3.3 If you add a License or upgrade a Paid Version of the Application during the License Period, any additional fees will be prorated over the remaining time of your License Period and immediately charged to your chosen payment method. When you renew your subscription, the price in effect at the time of the renewal will reflect such added Licenses and/or upgrades.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  3.4 Payment cannot be made for parts of the License Period or be partially repaid.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  3.5 We reserve the right to change the prices listed under Pricing as well as the payment terms (including License Periods) at our own discretion. Such changes will however not affect a License already paid for.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  3.6 Customers are entitled to a full refund within fourteen days from the Initiation Day for the Basic Version and the Pro Version by canceling the License. You hereby acknowledge that the Services are provided to you on the Initiation Day and that the right to a refund does not apply at the start of a new billing period. In order to receive the refund, send us a written notice to support@thepew.io stating why the refund is requested. We will provide the refund within 14 days of registering the request. By using the Application you will however lose the right to a refund.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  4. DISTRIBUTION OF LICENSES 
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  4.1 Customers will be provided the License(s) to the Paid Versions as of the Initiation Day and Free Users will be provided the License(s) to the Free Version when the Free User has registered an Account by providing necessary information and accepted the Terms. Necessary instructions for using the Application will be available.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  4.2 Accounts are individual, meaning that one Account can only be used by one person and you agree not to permit any other person to your License. For the avoidance of doubt, this does not limit your right to use the Application for an Event.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  4.3 One License gives you the right and ability to use the features stated in Pricing.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  5. USER DATA
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  5.1 Free Users retain the title to all User Data submitted to the Free Version, but hereby grant ThePew an irrevocable right to – in an anonymized format –  use an Event created by the Free User and the answers from the Audience. Such information will only be used by us and as inspiration for ThePew to further develop the Application. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  5.2 If you are not a Free User, you - unless you are a Team Member in which case your organization as our Customer - retain the title to all User Data submitted to the Basic Version and the Pro Version and ThePew receives no right to use neither the Event created by you, nor the answers provided by the Audience. Please see our Security Policy for information about our access and access control.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  6. TEAM WORKSPACE
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  6.1 When you as a Customer purchase several Licenses, a Team Workspace is automatically created by us and the Licenses can be distributed and re-distributed by you among several Team Members during the License Period without limitation. In this Section 6 “you” and “your” refer only to Customers and no other Users.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  6.2 You choose the Team Member(s) and administrator(s) of your Team Workspace and it is your responsibility to remove any Team Member(s) and administrator(s) that you consider no longer authorized to have access to the Team Workspace. You are also responsible for your Team Member(s) and administrator(s) compliance with the Terms and for ensuring that each License is limited to and used by only one Team Member. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  6.3 You, as our Customer, are liable for any Event created by your Team Member(s) and responsible for the User Data submitted to our Services as a result thereof. It is your responsibility to have internal instructions in place related to the use of the Services and the submission of User Data and intellectual property rights within the Team Workspace (if any) and your responsibility to inform the Team Member(s) and the administrator(s) of any relevant internal rules, policies and practices that may impact their use of our Services. It is also your responsibility to respond to and resolve any dispute between you and any Team Member or administrator.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  6.4 It is your responsibility to ensure that you and your Team Member(s) comply with all laws, including Data Protection Laws, applicable to User Data and any intellectual property rights submitted by you and your Team Member(s) within the Team Workspace and we assume no liability for the accuracy, quality and legality of such personal data and the means by which you acquired it. In our Privacy Policy we address what type of personal data we process as controllers in relation to Team Members and how Team Members may contact us to exercise their rights under the Data Protection Laws. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  6.5 Within the Team Workspace, you own the Team Member(s) Account(s), User Data included, and may, through the administrator(s) appointed by you control, administer (including imposing certain login and Account creation requirements for Team Member(s)), suspend, unsuspend, delete and delete access to, as well as downgrade your Team Member(s) Account(s). You should note that in the event you downgrade a Team Member’s Account from a Paid Version to a Free Version, that Team Member automatically becomes a Free User, outside the Team Workspace, entitled to its’ own Account as well as the User Data contained therein and you may no longer control that person’s Account. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  6.6 In the event a Team Member would like to deactivate or delete its Account, the Team Member shall contact the administrator(s) of the Team Workspace. When an administrator contacts us to comply with a request we will assume that the administrator has your approval in relation to the requested actions and we assume no liability for the accuracy or the consequences thereof. Please see our Privacy Policy for more information regarding how we handle requests for the removal of Team Members personal data.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  7. EMAIL ADDRESSES RELATED TO ORGANIZATIONS
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  7.1 When you use an email address to register for an Account and that email address was provided by an organization, we reserve the right to inform the concerned organization about your Account and the organization is also given a right to convert your Account into a Team Workspace under the organization’s control in which case you will become a Team Member. The concerned organization may request us to move your Account to a Team Workspace, in which case they may retain title to, control, administer, suspend, delete or delete access to your Account as well as to downgrade your Account into a Free Version, as described above in Section 6 (Team Workspace). The organization may also request us to delete your Account. The reason for this is further described in our Privacy Policy, but in short, we do this for commercial reasons as well as to give our Users and Customers an even better experience of, and more value from, using the Services. If you would like to be sure to avoid any of the above, you should register an Account with your own private email address.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  7.2 A Customer (being an organization as stated above) that converts a User Account into a Team Workspace represents and warrants that it has all necessary rights and consents for the conversion of an Account.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  8. FAULTS IN THE SERVICES
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  8.1 To begin with, our Services are provided "as is" and “as available”, and ThePew does not warrant, either express or implied, that the Services will perform without errors and/or without interruptions. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  8.2 Despite the above, we will to the extent possible and commercially reasonable try to rectify faults in the Services as promptly as the circumstances require, as decided by us in our sole discretion. A fault in the Services shall mean a deviation from the description of the current version of the Services and major deviations from generally applicable norms for software equivalent to the Services. ThePew's responsibility to rectify faults in the Services does not include faults that are of no significance for the intended use of the Services and/or faults in Third Party Applications.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  8.3 Faults in the Services are most likely rectified by means of a correction or by the provision of instructions on how to circumvent the fault. To be able to claim the existence of a fault for which ThePew is liable, you shall report it to us within a reasonable period of time after discovery of the fault. You will need to state, and if necessary show, how the fault manifests itself.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  8.4 If there is a fault in a Third Party Application and we are unable to rectify the fault ourselves, we will report this to the relevant Third Party Application supplier with the intent to install any solution received from said Third Party Application supplier if this can be done without having an adverse effect on the Services or without any other negative effects for ThePew. Over and above this, ThePew has no liability for faults in Third Party Applications.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  8.5 If we have not rectified a fault with the promptness that the circumstances require, you, as a Customer, will be entitled to such reduction of the price of the License that corresponds to the fault, however with the limitations set forth in Section 14.1. Free Users will not have any right to economic compensation.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  9. DATA MANAGEMENT, PERSONAL DATA
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  9.1 Protecting personal data is extremely important to us. We only collect and use the personal data we need in order to provide you with our Services in accordance with and for the purposes described in our Privacy Policy. The Privacy Policy addresses how we collect personal data and what we collect as well as how the data is used, stored and shared. You will also find information about the processors we use in our Services and how you as a data subject can exercise your rights. Please review our Privacy Policy and Cookie Policy for full information on how we handle your personal data as well as the cookies we use and in our Security Policy we address how we maintain an appropriate level of security as required by GDPR for the Services.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  9.2 We never sell or grant anyone access to personal data or User Data for other purposes than just fulfilling delivery of the Services under the Terms (except regarding organization email addresses as described in Section 7). 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  9.3 You may choose to use the Services with Third Party Integrations. Use of Third Party Integrations is subject to your agreement with the relevant provider and its applicable terms and conditions and/or policies. ThePew does not control and assumes no liability for Third Party Integrations, including their security, functionality, operation, availability or interoperability or how the Third Party Integration or their providers use any data you provide to them. You can find more information on how your data is managed when you use the Services in connection with a Third Party Integration in our Privacy Policy.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  10. COMMUNICATION WITH USERS
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  10.1 We reserve the right to communicate with you, also for marketing purposes. Such communication can be newsletters, product updates, offers or other information related to the Application. You may of course opt out of receiving emails from ThePew at any time by unsubscribing at the end of the email.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  10.2 Please note that although you may opt out of receiving certain emails, we still reserve the right to communicate with all our Users and Customers via email regarding specific orders, requests or inquiries from our Users and Customers that are related to the Services.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  11. INTELLECTUAL PROPERTY RIGHTS ETC
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  11.1 ThePew - or when applicable our licensors - retain all rights and title to the Services we provide (or parts thereof) including, without limitation, all intellectual property rights and know-how related to the Application and the other parts of the Services. Other than the right to use our Services that you purchase or sign-up for in accordance with the Terms, you do not acquire any other right whatsoever to ThePew's Services or the copyright, patents, trademarks, trade secrets or other intellectual property rights or goodwill related thereto.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  11.2 We will never deliberately copy any third party's intellectual property rights and, to our knowledge, the Application does not infringe any intellectual property rights belonging to a third party.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  11.3 If a third party or you, in writing, would notify us of the occurrence or potential occurrence of an intellectual property rights infringement related to the Application we will, to the extent possible and reasonable, take measures to ensure that the Application is altered in such way that it does not infringe the intellectual property rights in question. If this would entail unreasonably high costs, ThePew has the right to, instead of taking these measures, limit or temporarily cancel the use of the Services, or terminate your subscription of License(s) under the Terms (and thereby the right to use the Services) with immediate effect. ThePew's obligations under this Section shall not apply to the extent that the infringement (a) is related to a Third Party Application; or (b) arises out of a modification of the Application not made or authorised by ThePew. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  11.4 You hereby agree to notify us immediately if you receive any notification of accusation of infringement from a third party due to an Event or the answers created with the Application.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  11.5 ThePew respects intellectual property rights and reserves the right to remove any User Data or other content that infringes copyright, trademark, patent or other intellectual property rights of a third party upon notification from you or a third party. You agree not to use and to ensure that your use of the Services, including the User Data you submit to us, does not infringe copyright, trademark, patent or other intellectual property rights of a third party.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  11.6 ThePew has no obligation to defend any Customer or User, but agrees to indemnify you who are a Customer from any damages and costs finally awarded against you as a result of a claim brought against you as our Customer by a third party alleging that the purchased Services infringe or misappropriate such third party’s intellectual property rights, provided that you promptly gives us written notice of the claim and reasonable assistance in relation thereto. The above indemnification obligation do not apply if (1) the allegation does not state with specificity that the Services are the basis of the claim; (2) the claim arises from the use or combination of the Services or any part thereof with software, hardware, data, or processes not provided by ThePew, if the Services or use thereof would not infringe without such combination; (3) the claim arises from Services for which there is no charge; or (4) the claim arises from User Data, a Third Party Application or the Customer’s breach of the Terms.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  12. CONFIDENTIALITY
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  Both we and you hereby undertake to retain in confidence and not to disclose to any third party any confidential information and data received from the other party. Confidential information shall mean any information whether technical, commercial or of other kind, regardless of it being documented or not. Such information may, however, be disclosed if such disclosure is necessary to allow a party, or its employees to (i) defend against litigation, (ii) to file and prosecute patent applications, (iii) to comply with law and governmental regulations or any orders of court or competent authority or arbitral tribunal or (iv) to comply with applicable stock exchange regulations or the regulations of any other recognized marketplace. Confidentiality in accordance with this provision shall not apply to information which (i) is in the public domain; (ii) comes into the public domain through no fault of the receiving party; (iii) was known prior to its disclosure by the receiving party, as evidenced by written records; (iv) is disclosed in accordance with the Terms or with the other party’s prior written consent, or (v) is disclosed to the receiving party by a third party having a lawful right to make such disclosure. The obligations of confidentiality shall continue during the License Period and for the two subsequent years thereafter.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  13. SERVICE AVAILABILITY, MAINTENANCE, TESTING AND DOWNTIME
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  13.1 ThePew strives to keep the Services available to such a large extent as possible, but since we want to provide updated and maintained Services, ThePew shall always have the right to disconnect the Services for service and upgrading without giving you prior notice and cannot be held liable for downtime or other technical complications. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  13.2 We also reserve the right to (i) implement new updates and versions of the Application and (ii) conduct for example A/B testing or other actions for improvement purposes, to the extent deemed appropriate and suitable by us. ThePew intends to give you notice before updates or maintenance of the Services that will lead to more than minor disruptions in the Services.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  14. LIABILITY AND LIMITATION OF LIABILITY
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  14.1 ThePew's aggregate liability arising out of or related to the Services and the Terms shall, under all circumstances, including but not limited to Section 11.6, be limited to an amount corresponding to the amount paid by you for the Services during the twelve months immediately preceding the first incident causing the loss. You shall, to not lose your right to compensation, submit a claim for damages to ThePew within two months from the date when the incident giving rise to the claim occurred. The foregoing limitation will apply whether an action is in contract or tort and regardless of any theory of liability. Free Users will not have any right to economic compensation. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  14.2 ThePew shall never be held liable for any indirect, incidental, or consequential damages, including without limitation, any loss of profits, data or income, arising out of or in connection with the Terms or your use of the Services.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  14.3 The limitation set forth in Section 14.1 does not limit or exclude ThePew's liability for damages caused by fraud or wilful misconduct by ThePew.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  14.4 ThePew assumes no liability whatsoever for any losses, damages or costs caused by: 
  (i) User Data or other content and information submitted by you and your Audience when using our Services;
  (ii) faults, non-conformities and lacking performance in your software, hardware or Internet connection;
  (iii) corruption or destruction of data or other damages caused by viruses related to your computer system(s), hardware, software or other equipment;
  (iv) faults occurred as a result of a) downtime or other technical complications (other than what is specifically stated in Section 8 (Faults in the Application)) or b) any of the reasons stated in Section 13 (Service availability, Maintenance, Testing and Downtime) and/or Section 15 (Force Majeure);
  (v) faults caused by your or a third party’s changes to or interference with the Application, or any other circumstances for which you or a third party is liable or that are in some other way beyond ThePew's control; and/or
  (vi) the loss, destruction, unavailability, alteration or disclosure of User Data caused by you or a third party, even though if a third party causes this we will of course use all commercially reasonable efforts to restore the lost or damaged User Data from the latest back-ups that are maintained by us.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  14.5 You agree to indemnify and hold ThePew harmless for all damages, costs and expenses arising out of or related to (i) your breach of the Terms, (ii) any User Data or other content and information submitted by you and your Audience when using our Services, (iii) your breach of applicable law and (iv) an allegation or claim by a third party that any User Data or your use of User Data with the Services infringes or misappropriates such third party’s intellectual property rights.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  15. FORCE MAJEURE
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  ThePew shall be excused from the performance of any of its obligations to you under the Terms if the performance thereof is prevented or delayed by any cause beyond ThePew’s control, such as, but not limited to, riots, fire, flood, natural disasters, wars, accidents, acts of terrorism, sabotage, strikes, embargo or other government actions. We shall in case of such events of force majeure promptly notify you and furnish you with relevant information thereof.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  16. NOTICES
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  Notice of termination or other communication shall be sent by email and be deemed to have been received no later than two days after the email is sent.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  17. ENTIRE AGREEMENT
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  The Terms constitute the entire agreement between us regarding the provision and use of the Services and supersedes all prior and contemporaneous agreements, proposals or representations, written or oral, concerning its subject matter. You and us hereby agree that any term or condition stated in a Customer’s own purchase order or in any other Customer order documentation (excluding for the avoidance of doubt an Order Form) is void. In the event of any conflict or inconsistency among the following documents, the order of precedence shall be: (1) the applicable Order Form, and (2) these Terms.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  18. MISCELLANEOUS
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  18.1 You may not transfer your agreement with us or your right to use the Services (other than in accordance with the Terms) without ThePew's prior written consent.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  18.2 If a provision of the Terms is held to be invalid or otherwise unenforceable, such provision will be interpreted to fulfill its intended purpose to the maximum extent permitted by applicable law, and the remaining provisions of the Terms will continue in full force and effect.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  19. TERM AND TERMINATION
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  19.1 The Terms enter into force automatically when you sign up for an Account or use the Application or the Websites connected to the Application, whatever happens first. If you are a Customer, the Terms enter into force automatically on the Initiation Day.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  19.2 You can, at any time, terminate your subscription of License(s) by sending an email to support@thepew.io. Termination will occur following your confirmation of wanting to be removed from all systems and have all your data, including User Data, deleted. Already paid fees will not be repaid. After the termination you are no longer enabled to use the Services. Please see Section 6.6 regarding deletion of Team Member(s) Account(s).
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  19.3 ThePew can terminate your subscription in accordance with what is stated in the Terms and in all other cases by giving one month prior notice. We reserve the right to cancel a User’s right to access the service if the use in any way could expose us to sanctions or similar trade restrictions imposed by the EU, U.S. or any other competent authority. Termination can always be made by using the email address registered with ThePew.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  19.4 Any clauses that are said to survive also after termination of License Period or which otherwise are of the nature that they shall continue in force will be applicable also after termination of subscription of a License.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  20 INDEPENDENT CONTRACTORS
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  There is no joint venture, partnership, agency, or fiduciary relationship existing between you and ThePew, and there is no intention to create any such relationship by your acceptance of the Terms – both you and we remain independent.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  21. AUDIENCE
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  Sections 2 and 7-24 apply not only to Users and Customers, but also to you who are a member of the Audience, as applicable taking into account the Services we provide you.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  22. CHANGES OF TERMS
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  We may change these Terms (however not the terms of an agreed Order Form) at any time to reflect changes in applicable law or updates to the Services, and to account for new Services or functionality or for similar reasons, where such changes have no materially negative impact on your rights hereunder or your use of the Services. The most current version of these Terms will always be posted on www.thepew.io and app.thepew.io and you hereby undertake to check the terms that apply at the time of your use. If an amendment is material, as determined in ThePew's sole discretion, we will notify you by email upon you having subscribed for changes by clicking the button at the end of these Terms to add your information. Notice of amendments may also be posted to ThePew's blog or upon your login to your Account. Changes will be effective no sooner than the day they are posted on our website. In order for certain changes to become effective, applicable law may require us to obtain your consent to such changes, or to provide you with sufficient advance notice of them. If you do not want to agree to any changes made to these Terms, you should stop using the Services, because by continuing to use the Services you accept to be bound by the updated terms.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  23. TRIALS AND BETAS
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  23.1 From time to time we may also offer the Services on a trial/beta basis. The trial/beta Services may be offered as an alpha, beta, or early access offering and may pertain to certain subscription offerings, interfaces, features, and/or functionalities. We reserve the right to decide what such offerings include, and to who, such offerings are made available. Trial/beta Services are optional and you are never required to sign up for, utilize or enable such offerings. Your use of the trial/beta Services will be limited to the period of the relevant trial/beta offering and governed by these Terms. You will always be provided with the relevant information and any additional terms and conditions, if applicable, pertaining to such trial/beta offerings before purchasing and/or subscribing for the Services. 
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  23.2 Depending on your subscription, your License subscription may be billed on a recurring basis and will be automatically renewed at the expiration of the relevant billing period unless cancelled in accordance with these Terms. Payment will be charged to your chosen payment method on the Initiation Day and at the start of every new billing period unless canceled in accordance with these Terms and you hereby authorize us to charge your selected payment method for all applicable fees. For some payment methods, the issuer may charge you certain fees, such as foreign transaction fees or other fees relating to the processing of your payment and local tax charges may vary depending on your selected payment method. We reserve the right to change the prices listed under Pricing as well as the payment terms, in the event of a price change we will notify you thirty (30) days in advance of the change by sending an email to the email address you have registered for your Account. Such changes will however not affect a License already paid for. If you do not wish to accept such price change, you may cancel your subscription in accordance with these Terms. If you do not cancel your subscription after the price change takes effect and prior to the start of the new billing period, your subscription will be renewed at the price in effect at the time of the renewal and you hereby authorize us to charge your selected payment method the applicable amounts.
</p>
<h2 class="my-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  24. DISPUTES AND GOVERNING LAW
</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  24.1 The Terms shall be governed by and construed in accordance with the substantive laws of Delaware USA, without regard to its principles of conflict of laws.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  24.2 If you have a concern or problem with our Services, we want to address your concerns without needing a formal legal case. Before filing a claim against us, you agree to try to resolve the dispute informally by contacting support@thepew.io. We’ll try to resolve the dispute informally by contacting you via email. If a dispute is not resolved within 15 days of submission, you or ThePew may bring a formal proceeding.
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  24.3 Any dispute, controversy or claim, in contract or in tort or otherwise, arising out of or in connection with the Terms (including for the avoidance of doubt an Order Form) and/or the Services provided hereunder, or the breach, termination or invalidity thereof, shall be exclusively and finally settled by arbitration in accordance with the Rules of the State of Delaware, unless, taking into account the complexity of the case, the amount in dispute and other circumstances, are such that arbitration is not feasible. The language to be used in the proceedings shall be English. Confidentiality shall apply to the arbitral proceedings and any information disclosed or decision or arbitral award made or declared during such proceedings.
</p>
