<%# Terms of Service %>
<%= render "legal/breadcrumb", current_page: "Terms of Service" %>
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
  Terms of Service
</h1>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  ThePew (“Company”, “we” or “us”) is a company that provides (i) proprietary software to  organizations; and (ii) cloud services for establishing the entire Customer’s (as defined below) (“Services”).
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  This privacy policy (“Privacy Policy”) governs the data collection, processing and usage made by us and our privacy practices with respect to the data we collect from (i) individuals who access and use our websites that links to this Privacy (collectively the “Websites” and “Visitors”) (ii) customers that use and register to our Services (“Customers”); or (iii) Customer’s Clients which the Customer conducting business with or providing services to (“Customer’s Users”). Each of the Customer, Customer’s Users or Visitors shall also be referred to herein as “you.”
</p>
<h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white"> Code of Conduct</h2>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  This Privacy Policy explains what information we may collect, how such information may be used or shared with others, how we safeguard it and how each of the aforementioned individuals may exercise their rights related to their Personal Data (as such term is defined below), among others, and where applicable, as required according to the EU General Data Protection Regulation (“GDPR”) and the California Consumer Privacy Act (“CCPA”).
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
</p>
<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
  This document is drawn from <a href="http://confcodeofconduct.com/" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">confcodeofconduct.com</a> under a Creative Commons Attribution 3.0 Unported License.
</p>
