<div class="mt-6" data-controller="turbo-modal" data-action="turbo:submit-end->turbo-modal#submitEnd">
  <div class="mb-6">
    <%= link_to polls_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
      Back
    <% end %>
  </div>
  <h1 class="inline-block mb-2 font-extrabold text-3xl tracking-tight text-slate-800 dark:text-white">Editing the poll:</h1>
  <%= render "form", poll: @poll %>
</div>
