<!-- app/views/embeddeds/_create_embedded.html.erb -->
<div>
  <%= turbo_frame_tag :embedded do %>
    <%= button_to "Create Embedded iframe",
      embeddeds_path(
        params: {
          embedded: {
            path: path,
            label: label,
            embeddable_id: embeddable_id,
            embeddable_type: embeddable_type
          }
        }
      ),
      class: "px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  <% end %>
</div>
