<div class="mt-4 flex flex-col items-center">
  <div id="question" data-controller="empty-state" class="w-full">
    <div class="flex flex-col w-full items-center p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="text-5xl font-extrabold dark:text-white text-center">
        You can engage with the speaker or the topic by asking questions or dropping a comment here.
      </h5>
      <div class="mt-12" data-qr-code-generator-short-code-value=<%= @room.event.short_code %>
                         data-qr-code-generator-size-value=490
                         data-controller="qr-code-generator">
        <p class="text-2xl font-extrabold dark:text-white text-center">Join the conversation</p>
        <div class="flex justify-center">
          <div data-qr-code-generator-target="canvas"></div>
        </div>
      </div>
    </div>
  </div>
</div>
