@import "actiontext";
@import "trix/dist/trix";

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animation used by Alert messages (aka Flash) */
@keyframes notification-countdown {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

/* Applying style to Trix using Tailwind Typograhy plugin */
trix-editor { 
  @apply prose max-w-none;
  overflow-y: auto !important;
}

/* Removing the attachment button from Trix */
.trix-button-group--file-tools {
  display: none !important;
}

